/* .rating {
  color: #6c757d;
}
.rating:hover {
  color: #ffd700;
} */
/* .bi-star-fill {
  border: 1px solid black;
  background-color: white;
  padding: 1%;
}
.rating:hover {
  color: gold;
  background-color: gray;
} */
