/* .rating {
  color: #6c757d;
}
.rating:hover {
  color: #ffd700;
} */
/* .bi-star-fill {
  border: 1px solid black;
  background-color: white;
  padding: 1%;
}
.rating:hover {
  color: gold;
  background-color: gray;
} */

.cart-menu {
  top: 100% !important;
  left: 70% !important;
  /* right: 0 !important; */
  margin-top: 0.0125rem !important;
}

@media (max-width: 576px) {
  .cart-menu {
    left: auto !important;
    right: auto !important;
  }
}

@media (max-width: 768px) {
  .cart-menu {
    left: auto !important;
    right: auto !important;
  }
}
@media (max-width: 992px) {
  .cart-menu {
    left: auto !important;
    right: auto !important;
  }
}
/* @media (min-width: 1200px) {
}
@media (min-width: 1400px) {
} */
